:host {
  display: block;
  min-height: 100vh;
  background-color: #f5f5f8;
  padding: 32px;
  box-sizing: border-box;
}

.receipt-line-demo {
  display: flex;
  justify-content: center;
  align-items: center;
}
