.conteiner {
    position: relative;
    width: 283px;
    height: 161px;
    display: flex;
    flex-direction: column;
    border: 1px solid #B11616;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 10px;
    gap: 3px;
    box-sizing: border-box;
}

.modal-title {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #C22918;
    margin: 0;
}

.CheckInfo__close {
    position: absolute;
    width: 39px;
    height: 39px;
    right: 4px;
    top: 4px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.CheckInfo__close::before,
.CheckInfo__close::after {
    content: "";
    position: absolute;
    right: 4px;
    top: 18px;
    width: 31px;
    height: 1px;
    background: #C22918;
}

.CheckInfo__close::before {
    transform: rotate(45deg);
}

.CheckInfo__close::after {
    transform: rotate(-45deg);
}


.change-notification {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 12px;
    color: #000000;
    text-align: center; 
    line-height: 16px;
    letter-spacing: -4%;
}

.highlight {
    color: #C22918;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 78px;
    height: 27px;
    padding: 11px 47px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgba(88, 88, 88, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 8px;
    color: #9A0E10;
    cursor: pointer;
    transition: border-color 0.6s ease-in-out, color 0.6s ease-in-out, background-color 0.6s ease-in-out;
    position: relative;
}

.button__text {
    transition: opacity 0.6s ease-in-out;
}

.button:hover {
    background-color: #C22918;
    border-color: #C22918;
    color: #FFFFFF;
}




