.main__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 24px;
  margin-right: 24px;
}

.main__title {
  width: 310px;
  height: 123px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #9A0E10;
  align-content: center;
}

.fio p {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #C22918;
  margin-bottom: 34px;
}

.profile-info {
  display: grid;
  grid-template-columns: 234px auto;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: flex-start;
}

.profile-info p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #535353;
}

.column.second p {
  color: #C22918;
}

