*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(90deg, #ECEDF1 100%, rgba(196, 196, 196, 0) 100%);
}

.scene {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #FFFFFF;
    overflow: hidden;
}

.background__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #ECEDF1 100%, rgba(196, 196, 196, 0) 100%);
    mix-blend-mode: normal;
    z-index: 2;
}

.background::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(49, 49, 49, 0.1);
    z-index: 1;
}

.background__diagonal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    pointer-events: none;
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
@media (min-width: 1200px) {
    .background__diagonal {
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .background__diagonal {
        object-fit: contain;
    }
}