.input-field {
    position: relative;
    width: 334px;
    height: 57px;
    background-color: transparent;
}

.input-field__input {
    width: 100%;
    height: 100%;
    padding: 15px 7px 0 7px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    outline: none;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 2.52em;
    letter-spacing: -0.04em;
    color: #000000;
    
    transition: all 0.6s ease-in-out;
    position: relative;
}

.input-field__input:focus {
    padding-top: 13px;
}

.input-field__label {
    position: absolute;
    left: 7px;
    top: 15px;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 3.15em;
    letter-spacing: -0.04em;
    color: #989898;
    
    pointer-events: none;
    transition: all 0.6s ease-in-out;
}

.input-field__line {
    position: absolute;
    left: 7px;
    bottom: 10px;
    width: 318px;
    height: 0.5px;
    background-color: rgba(88, 88, 88, 0.5);
    transition: all 0.6s ease-in-out;
}

.input-field:hover .input-field__line {
    background-color: #C22918;
}

.input-field__input:focus + .input-field__label,
.input-field__input:not(:placeholder-shown) + .input-field__label {
    top: 0;
    font-size: 8px;
    line-height: 6.3em;
}

.input-field__input:focus ~ .input-field__line {
    background-color: #C22918;
}

.input-field__input::placeholder {
    opacity: 0;
}

.input-field__cursor {
    position: absolute;
    left: 8px;
    top: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 2.52em;
    letter-spacing: -0.04em;
    color: #000000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease-in-out;
    animation: blink 1s infinite;
}

.input-field__input:focus ~ .input-field__cursor {
    opacity: 1;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}

