@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Inter:wght@300&display=swap');

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f5f5f8;
  color: #1f1f1f;
}
