*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #ECEDF1;
    color: #535353;
}

/* Глобальный стиль для всех модальных окон - они должны быть выше сайдбара */
.modal-overlay {
    z-index: 10000 !important;
    position: fixed !important;
}

