*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #ECEDF1;
    color: #535353;
}

