<div class="app">
    <div class="layout">
        <div class="scene" aria-hidden="true">
            <div class="background">
                <div class="background__overlay"></div>
                <img src="assets/icons/bgFigure.png" alt="" class="background__diagonal">
            </div>
        </div>

        <!-- Загрузка чека -->
        <div *ngIf="!showPreview" class="receipts-container">
            <app-upload-receipt (receiptUploaded)="onReceiptUploaded($event)"></app-upload-receipt>
        </div>

        <!-- Предпросмотр чека -->
        <app-receipt-modal
            *ngIf="showPreview && receiptData"
            [receiptData]="receiptData"
            [isReadOnly]="false"
            (closed)="onReceiptCancelled()">
        </app-receipt-modal>
    </div>
</div>

